# Dependencias de Node (Carpeta muy pesada)
node_modules/
jspm_packages/

# Variables de entorno y credenciales (¡Muy importante ocultar!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Archivos de registro y logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuraciones del editor de código o IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Cobertura de pruebas (Si usas Jest, Mocha, etc.)
coverage/
.nyc_output/
